<section class="page-title-section overlay" data-background="./assets/images/backgrounds/Events.png">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item h2 text-primary font-secondary">Events</li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">Center for multi-faceted learning keeps on conducting these type of events through out
          session which will enhance your knowlegde,interpersonal skills and grow yourself more .</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- courses -->

<section class="section">
  <div class="container">
    <div class="row">
      <!-- event -->
    
      <div class="col-lg-4 col-sm-6 mb-5">
        <a href="/Event/1/Details">
          <div class="card  hover-shadow">
            <div class="card-img position-relative">
              <img class="card-img-top" src="./assets/images/events/graciousGivers.png" alt="event thumb">




              <div class="card-date"><span>06</span><br>SEP, 2021</div>

            </div>
          </div>
          <div class="card-body">
            <!-- location -->

            <p class="card-title"> Gracious Givers
            </p>
          </div>
        </a>
      </div>
    
      <div class="col-lg-4 col-sm-6 mb-5">
        <a href="/Event/2/Details">
          <div class="card  hover-shadow">
            <div class="card-img position-relative">
              <img class="card-img-top" src="./assets/images/events/researchHotspots.png" alt="event thumb">




              <div class="card-date"><span>01</span><br>SEP, 2021</div>

            </div>
          </div>
          <div class="card-body">
            <!-- location -->

            <p class="card-title"> Webinar on key aspects of research hotspots and gaps
            </p>
          </div>
        </a>
      </div>
    
      <div class="col-lg-4 col-sm-6 mb-5">
        <a href="/Event/3/Details">
          <div class="card  hover-shadow">
            <div class="card-img position-relative">
              <img class="card-img-top" src="./assets/images/events/linkedInProfile.png" alt="event thumb">




              <div class="card-date"><span>28</span><br>AUG, 2021</div>

            </div>
          </div>
          <div class="card-body">
            <!-- location -->

            <p class="card-title"> Boost your LinkedIn Profile
            </p>
          </div>
        </a>
      </div>
    
      <div class="col-lg-4 col-sm-6 mb-5">
        <a href="/Event/4/Details">
          <div class="card  hover-shadow">
            <div class="card-img position-relative">
              <img class="card-img-top" src="./assets/images/events/flagHosting.png" alt="event thumb">




              <div class="card-date"><span>15</span><br>AUG, 2021</div>

            </div>
          </div>
          <div class="card-body">
            <!-- location -->

            <p class="card-title"> Cleanliness Drive and Flag Hosting
            </p>
          </div>
        </a>
      </div>
    
      <div class="col-lg-4 col-sm-6 mb-5">
        <a href="/Event/5/Details">
          <div class="card  hover-shadow">
            <div class="card-img position-relative">
              <img class="card-img-top" src="./assets/images/events/inspirationalDrift.png" alt="event thumb">




              <div class="card-date"><span>11</span><br>AUG, 2021</div>

            </div>
          </div>
          <div class="card-body">
            <!-- location -->

            <p class="card-title"> Inspirational Drift
            </p>
          </div>
        </a>
      </div>
    
      <div class="col-lg-4 col-sm-6 mb-5">
        <a href="/Event/6/Details">
          <div class="card  hover-shadow">
            <div class="card-img position-relative">
              <img class="card-img-top" src="./assets/images/events/introductorySession.png" alt="event thumb">




              <div class="card-date"><span>30</span><br>JUL, 2021</div>

            </div>
          </div>
          <div class="card-body">
            <!-- location -->

            <p class="card-title"> Introductory Session on Understanding General Awareness
            </p>
          </div>
        </a>
      </div>
    
      <div class="col-lg-4 col-sm-6 mb-5">
        <a href="/Event/7/Details">
          <div class="card  hover-shadow">
            <div class="card-img position-relative">
              <img class="card-img-top" src="./assets/images/events/ResumeWriting.png" alt="event thumb">




              <div class="card-date"><span>02</span><br>JUL, 2021</div>

            </div>
          </div>
          <div class="card-body">
            <!-- location -->

            <p class="card-title"> Resume Writing
            </p>
          </div>
        </a>
      </div>
    
      <div class="col-lg-4 col-sm-6 mb-5">
        <a href="/Event/8/Details">
          <div class="card  hover-shadow">
            <div class="card-img position-relative">
              <img class="card-img-top" src="./assets/images/events/chooseToBeGreat.png" alt="event thumb">




              <div class="card-date"><span>27</span><br>MAY, 2021</div>

            </div>
          </div>
          <div class="card-body">
            <!-- location -->

            <p class="card-title"> WEBINAR- "CHOOSE TO BE GREAT- BE A MASSIVE ACTION TAKER"
            </p>
          </div>
        </a>
      </div>
    
      <div class="col-lg-4 col-sm-6 mb-5">
        <a href="/Event/9/Details">
          <div class="card  hover-shadow">
            <div class="card-img position-relative">
              <img class="card-img-top" src="./assets/images/events/seriesexpert.png" alt="event thumb">




              <div class="card-date"><span>08</span><br>MAR, 2021</div>

            </div>
          </div>
          <div class="card-body">
            <!-- location -->

            <p class="card-title"> Series of Expert Lectures By Mr. Sony Goyal and Mr. Sudhir Dua
            </p>
          </div>
        </a>
      </div>
    
      <div class="col-lg-4 col-sm-6 mb-5">
        <a href="/Event/10/Details">
          <div class="card  hover-shadow">
            <div class="card-img position-relative">
              <img class="card-img-top" src="./assets/images/events/capsule.png" alt="event thumb">




              <div class="card-date"><span>01</span><br>MAR, 2021</div>

            </div>
          </div>
          <div class="card-body">
            <!-- location -->

            <p class="card-title"> Capsule Programme on "Fundamental of Communication Skills in the English Language"
            </p>
          </div>
        </a>
      </div>
    

    </div>
  </div>
</section>

  <!-- <section class="section">
    <div class="container">
      <div class="row">
      {% for i in Event_data %}
        <div class="col-lg-4 col-sm-6 mb-5">
          <a href="/Event/{{ forloop.counter }}/Details">
            <div class="card  hover-shadow">
              <div class="card-img position-relative">
                <img class="card-img-top" src="{{ baseURL }}/{{ i.1 }}" alt="event thumb">
                <div class="card-date"><span>{% if i.2|stringformat:'i'|length_is:1 %}0{% endif %}{{ i.2 }}</span><br>{{ i.3 }}, {{ i.4 }}</div>
              </div>
            </div>
            <div class="card-body">

              <p class="card-title"> {{ i.8 }}
              </p>
            </div>
          </a>
        </div>
      {% endfor %}

      </div>
    </div>
  </section> -->

  <!-- /courses -->
