/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "Poppins", sans-serif;
}

/*---------------------------------------------*/
.text a {
    font-family: "Poppins", sans-serif;
    /* font-size: 14px; */
    line-height: 1.2;
    color: var(--themeColor);
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.text a:focus {
    outline: none !important;
}

.text a:hover {
    text-decoration: none;
    color: var(--light-themeColor);
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: "Poppins", sans-serif;
    /* font-size: 14px; */
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #aaaaaa; }
input:-moz-placeholder { color: #aaaaaa; }
input::-moz-placeholder { color: #aaaaaa; }
input:-ms-input-placeholder { color: #aaaaaa; }

textarea::-webkit-input-placeholder { color: #aaaaaa; }
textarea:-moz-placeholder { color: #aaaaaa; }
textarea::-moz-placeholder { color: #aaaaaa; }
textarea:-ms-input-placeholder { color: #aaaaaa; }

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.bg-contact100 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background: rgba(132,106,221,0.9); */
  /* background: #534D7D; */
  background: white;
}

.wrap-contact100 {
  width: 450px;
  /* background: #F7FAFC; */
  border-radius: 10px;
  overflow: hidden;

  /* display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 110px 130px 157px 148px; */
  margin: auto 0 0 0;
}

/*------------------------------------------------------------------
[  ]*/
.contact100-pic {
  width: 550px;
  padding-top: 55px;
  margin-left: 5%;
}

.contact100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.contact100-form {
  width: 450px;
  margin: 0 auto;
}

.contact100-form-title {
  font-size: 32px;
  text-transform: capitalize;
  display: block;
  font-family: 'Pacifico', cursive;
  letter-spacing: 4px;
  /* font-family: Montserrat-ExtraBold; */
  /* font-size: 24px; */
  color: #534d7d;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 36px;
  font-weight: bolder;
}

input.input100 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 55px;
}

input.input100[name="email"] {
  padding: 0 30px 0 55px;
}

textarea.input100 {
  min-height: 150px;
  border-radius: 25px;
  padding: 14px 30px;
}

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.colon{
    display: inline-flex;
}

.text p{
  display: inline;
}

.input100 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(132,106,221, 0.5);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 40px 15px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 40px 15px;
    opacity: 0;
  }
}

.symbol-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  pointer-events: none;
  color: #aaaaaa;
  font-size: 15px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #846add;
  padding-left: 22px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.contact100-form-btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #534d7d;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (min-width: 1200px) {
  .contact100-form {
    width: 400px;
    margin: 0 auto;
    padding: 0px 5px;
  }
}

@media (max-width: 1200px) {
  .wrap-contact100 {
    /* padding: 110px 80px 157px 90px; */
    margin: auto 0 0 5%;
  }

  .contact100-pic {
    width: 40%;
  }

  .contact100-form {
    width: 400px;
  }

  .text p{
    display: inline;
  }

  .colon{
    display: inline-flex;
  }
}

@media (max-width: 1130px) {
  .wrap-contact100 {
    /* padding: 110px 80px 157px 90px; */
    margin: auto 0 0 5%;
  }

  .contact100-pic {
    width: 40%;
  }

  .contact100-form {
    width: 400px;
  }

  .text p{
    display: inline;
  }

  .colon{
    display: inline-flex;
  }
}

@media (max-width: 992px) {
  .wrap-contact100 {
    /* padding: 110px 80px 157px 90px; */
    margin: auto 0 0 5%;
    width: 400px;
  }

  .contact100-pic {
    width: 30%;
    padding-top: 150px;
    /* display: none; */
  }

  .contact100-form {
    width: 400px;
  }

  .text> a{
    display: none;
  }

  .colon{
    display: none;
  }
}

@media (max-width: 768px) {

  .wrap-contact100 {
    padding: 0 15px;
    margin: auto 5%;
    width: 600px;
  }

  .contact100-pic {
    display: none;
  }

  /* .dbox p{
    display: none;
  } */

  .contact100-form {
    width: 100%;
  }

  .text> a{
    display: none;
  }

  .colon{
    display: none;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 0 15px;
    margin: auto 5%;
  }

  /* .dbox p{
    display: none;
  } */

  .dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--themeColor);
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .col-md-3 {
    max-width: 24% !important;
    /* margin-right: 3px; */
  }

  .text> a{
    display: none;
  }

  .colon{
    display: none;
  }
}

@media (max-width: 350px) {
  .wrap-contact100 {
    padding: 0 15px;
    margin: auto 5%;
  }

  /* .dbox p{
    display: none;
  } */

  .dbox .icon {
    width: 45px !important;
    height: 45px !important;
    border-radius: 40%;
    background: var(--themeColor);
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .col-md-3 {
    max-width: 24% !important;
    /* margin-right: 3px; */
  }

  .text> a{
    display: none;
  }

  .contact100-form-title{
    font-size: 22px !important;
    line-height: 1.2;
  }

  .dbox p span{
    font-size: 12px !important;
  }

  .colon{
    display: none;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Montserrat-Medium;
  color: #C93656;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #C93656;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.ftco-section {
  padding: 7em 0;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;
  color: #000;
}

.img {
  max-width: 100%;
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center;
}

.form-control {
  height: 36px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

  .c-inp::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.3);
  }
  .c-inp::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.3);
  }
  .c-inp:-ms-input-placeholder {
    /* IE 0+ */
    color: rgba(0, 0, 0, 0.3);
  }
  .c-inp:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.3);
  }
  .c-inp:focus, .c-inp:active {
    border-color: #46b5d1;
  }

textarea.form-control {
  height: inherit !important;
}

.wrapper {
  width: 100%;
  margin: 2.5%;
}

.contact-wrap {
  background: #fff;
}


.dbox {
  width: 100%;
  margin-bottom: 25px;
}
  @media (max-width: 767.98px) {
    .dbox {
      /* display: none; */
      margin-bottom: 25px !important;
      /* padding: 0 20px;  */
    }
  }
  .dbox p {
    margin-bottom: 0;
    text-align: center;
  }
    .dbox p span {
      font-weight: 700;
      color: #534d7d;
    }
    .dbox p a {
      color: #C93656;
    }
  .dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--themeColor);
    margin: 0 auto;
    margin-bottom: 20px;
  }
    .dbox .icon span {
      font-size: 20px;
      color: #fff;
    }
  .dbox .text {
    width: 100%;
  }

.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
  @media (prefers-reduced-motion: reduce) {
    .btn {
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }
  }
  .btn:hover, .btn:active, .btn:focus {
    outline: none !important;
  }
  .btn.btn-primary {
    background: #46b5d1 !important;
    border-color: #46b5d1 !important;
    color: #fff;
  }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      border-color: #2d9bb7 !important;
      background: #2d9bb7 !important;
    }

.contactForm .label {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.contactForm .form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

#contactForm .error {
  color: red;
  font-size: 12px;
}

#contactForm .form-control {
  font-size: 16px;
}

#message {
  resize: vertical;
}

#form-message-warning, #form-message-success {
  display: none;
}

#form-message-warning {
  color: red;
}

#form-message-success {
  color: #28a745;
  font-size: 18px;
  font-weight: 500;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-size: 16px;
  font-weight: bold;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

/* .col-md-7{
  padding: 0 0 0 5% !important;
} */
/*
.col-md-5{
  padding: 0 15% 0 0 !important;
} */

.col-md-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 5px;
}
/*
.set-icon{

} */


.myrow{
  display: -webkit-box;
}

.dbox .icon:hover{
  background-color: var(--light-themeColor);
}
