<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="title" content="CML GNDEC | Events">
  <meta name="description"
    content="CML provides the students with e-learning (NPTEL-SWAYAM), Personality Development, and Entrepreneurship Capsule Courses. Apart from regular professional learning, CML brings the students an opportunity to prepare for various entrance exams like GATE, P.S.U, Civil Service Examinations like U.P.S.C along with Employment Enhancement programs.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://cml.gndec.ac.in/">
  <meta property="og:title" content="CML GNDEC | Events">
  <meta property="og:description"
    content="CML provides the students with e-learning (NPTEL-SWAYAM), Personality Development, and Entrepreneurship Capsule Courses. Apart from regular professional learning, CML brings the students an opportunity to prepare for various entrance exams like GATE, P.S.U, Civil Service Examinations like U.P.S.C along with Employment Enhancement programs.">
  <meta property="og:description" name="description"
    content="CML provides the students with e-learning (NPTEL-SWAYAM), Personality Development, and Entrepreneurship Capsule Courses. Apart from regular professional learning, CML brings the students an opportunity to prepare for various entrance exams like GATE, P.S.U, Civil Service Examinations like U.P.S.C along with Employment Enhancement programs.">
  <meta property="og:image" content="https://cml.gndec.ac.in/cml/assets/images/cml_logo-sm.png">
  <meta property="og:image:height" content="100">
  <meta property="og:image:width" content="100">
  <meta property="twitter:card" content="https://cml.gndec.ac.in/cml/assets/images/cml_logo-sm.png">
  <meta property="twitter:url" content="https://cml.gndec.ac.in/">
  <meta property="twitter:title" content="CML GNDEC | Events">
  <meta property="twitter:description"
    content="CML provides the students with e-learning (NPTEL-SWAYAM), Personality Development, and Entrepreneurship Capsule Courses. Apart from regular professional learning, CML brings the students an opportunity to prepare for various entrance exams like GATE, P.S.U, Civil Service Examinations like U.P.S.C along with Employment Enhancement programs.">
  <meta property="twitter:image" content="https://cml.gndec.ac.in/cml/assets/images/cml_logo-sm.png">
  <meta name="keywords"
    content="cml gndec, center for multi faceted learning, center for multi faceted learning gndec, center for multi-faceted learning, center for multi-faceted learning gndec, cml" />
  <title>CML GNDEC | Events</title>
  <link rel="shortcut icon" href="../assets/images/cmlfavicon.png">
  <link rel="icon" href="../assets/images/cmlfavicon.png">
  <link rel="stylesheet" href="../assets/plugins/bootstrap/bootstrap.min.css">
  <link href="../assets/css/footer.css" rel="stylesheet">
  <link href="../assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<body>
  <div id="snackbar"></div>
  <div class="load" data-pagetype="events" id="info">
    <header class="fixed-top header">
      <div class="navigation w-100">
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-dark p-0">
            <a class="navbar-brand nav-logo" href="/">
              <img src="../assets/images/cml_logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item @@home">
                  <a class="nav-link" href="../" data-link="Home">Home</a>
                </li>
                <li class="nav-item @@about">
                  <a class="nav-link" href="../About/" data-link="About">About</a>
                </li>
                <li class="nav-item @@events">
                  <a class="nav-link" href="./" data-link="Events">EVENTS</a>
                </li>
                <li class="nav-item @@contact">
                  <a class="nav-link" href="../Contact/" data-link="Contact">CONTACT</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
  </div>
  <section class="page-title-section overlay" data-background="../assets/images/backgrounds/Events.png">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item h2 text-primary font-secondary">Events</li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">Center for multi-faceted learning keeps on conducting these type of events through out
            session which will enhance your knowlegde,interpersonal skills and grow yourself more .</p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

  <!-- courses -->

  <section class="section">
    <div class="container">
      <div class="row">
        <!-- events -->

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/2023/4.png" alt="Event Image"
                  title="Time Management" alt="Time Management">
                <div class="card-date"><span>2</span><br>May, 2023</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <!-- <p>Series fulfilled with the great experience lessons remarking the importance of crucial time, time management skills, productivity and efficiency</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Antakshari</p>
          </div>
        </div>


        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/2023/2.png" alt="Event Image"
                  title="Time Management" alt="Time Management">
                <div class="card-date"><span>24</span><br>Apr, 2023</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <!-- <p>Series fulfilled with the great experience lessons remarking the importance of crucial time, time management skills, productivity and efficiency</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Expert Talk: Gurmeet Singh</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/2023/8.png" alt="Event Image"
                  title="Time Management" alt="Time Management">
                <div class="card-date"><span>5</span><br>April, 2023</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <!-- <p>Series fulfilled with the great experience lessons remarking the importance of crucial time, time management skills, productivity and efficiency</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">General Body Meeting</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/2023/7.png" alt="Event Image"
                  title="Time Management" alt="Time Management">
                <!-- <div class="card-date"><span></span><br>May, 2023</div> -->
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <!-- <p>Series fulfilled with the great experience lessons remarking the importance of crucial time, time management skills, productivity and efficiency</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Reels for Labourers</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/2023/6.png" alt="Event Image"
                  title="Time Management" alt="Time Management">
                <div class="card-date"><span>16</span><br>March, 2023</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <!-- <p>Series fulfilled with the great experience lessons remarking the importance of crucial time, time management skills, productivity and efficiency</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Shark Chef</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/2023/5.png" alt="Event Image"
                  title="Time Management" alt="Time Management">
                <div class="card-date"><span>16</span><br>March, 2023</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <!-- <p>Series fulfilled with the great experience lessons remarking the importance of crucial time, time management skills, productivity and efficiency</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">TechnoMela #TagIT</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/2023/3.png" alt="Event Image"
                  title="Time Management" alt="Time Management">
                <div class="card-date"><span>1</span><br>Mar, 2023</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <!-- <p>Series fulfilled with the great experience lessons remarking the importance of crucial time, time management skills, productivity and efficiency</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Alumni Talk: Mr. SB Singh</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events//2023/1.png" alt="Event Image"
                  title="Time Management" alt="Time Management">
                <div class="card-date"><span>24</span><br>Feb, 2023</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <!-- <p>Series fulfilled with the great experience lessons remarking the importance of crucial time, time management skills, productivity and efficiency</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Canva Workshop</p>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/Time Management.png" alt="Event Image"
                  title="Time Management" alt="Time Management">
                <div class="card-date"><span>12</span><br>Oct, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Series fulfilled with the great experience lessons remarking the importance of crucial time, time
                    management skills, productivity and efficiency</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Time Management</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/Acceleration Zone 2.0.png" alt="Event Image"
                  title="Introduction to Blockchain & NFT" alt="Introduction to Blockchain & NFT">
                <div class="card-date"><span>21,23</span><br>Sept, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Workshop enriched with excellent knowledge of demanding technology and thinking out of box,
                    illustrating use of NFTs representing real-world items like artwork & real estate</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Acceleration Zone 2.0</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/Entrepreneurship.png" alt="Event Image"
                  title="Webinar on Entrepreneurship" alt="Webinar on Entrepreneurship">
                <div class="card-date"><span>7</span><br>Sept, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Webinar demonstrates the quote - "The price of success is hard work, dedication to job at hand, &
                    determination that whether we win/lose, we have applied the best of ourselves to the task at hand"
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Entrepreneurship</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/Decision_Making-Research_Writing.jpg"
                  alt="Event Image" title="Decision Making and Research Writing"
                  alt="Decision Making and Research Writing">
                <div class="card-date"><span>08-12</span><br>Aug, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Workshop enriched with excellent knowledge about Decision making and research writing was conducted
                    with hands on training</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Decision Making Methods and <br>Research Writing Tools</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/32.jpg" alt="Event Image"
                  title="Pedal For Sidhu Moosewala">
                <div class="card-date"><span>03</span><br>Jun, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Pedal for Sidhu Moosewala was Organised to remember his greatness and to mark the occasion of World
                    Bicycle Day</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Pedal For Sidhu Moosewala</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/31.jpg" alt="Event Image"
                  title="Video Making Competition">
                <div class="card-date"><span>17-20</span><br>May, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>The Video Making Competition was organised for having competition between departments to enhance
                    creative skill</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Video Making Competition</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/30.jpg" alt="Event Image"
                  title="A Seminar on Dr. B.R. Ambedkar: An Architect of Modern India">
                <div class="card-date"><span>22</span><br>Apr, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>A Seminar on Dr. B.R. Ambedkar<br>An Architect of Modern India</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">A Seminar on Dr. B.R. Ambedkar</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/12.jpg" alt="Event Image"
                  title="Gracious Givers">
                <div class="card-date"><span>08</span><br>Apr, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>A book drive for the students by the students with the aim to learn and conquer the dreams</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Gracious Givers</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/27.jpg" alt="Event Image" title="Split Ink">
                <div class="card-date"><span>05</span><br>Apr, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Taking the talent of calligraphy and combining it with Gurmukhi, the workshop inspired many
                    students</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Split Ink</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/26.jpg" alt="Event Image"
                  title="Photography Contest">
                <div class="card-date"><span>10-31</span><br>MAR, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Bringing out the creativity of students to their life</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Photography Contest</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/25.jpg" alt="Event Image"
                  title="Women's Day: Poster Competitiong">
                <div class="card-date"><span>07</span><br>MAR, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Poster Making Competition Organised with the motto to empower women around the world</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Women's Day<br>Poster Making Competition</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/23.jpg" alt="Event Image" title="Recruitments">
                <div class="card-date"><span>02</span><br>MAR, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>CML recruitment was held in offline mode. And was glad to get such an overwhelming response</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Recruitments</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/24.jpg" alt="Event Image"
                  title="General Body Meeting">
                <div class="card-date"><span>02</span><br>MAR, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Frequently meeting is organised for Peer to Peer Interaction in Center For Multi-Faceted Learning
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">General Body Meeting</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/21.jpg" alt="Event Image"
                  title="An Illuminating Program on Life Skill Fundamentals">
                <div class="card-date"><span>24-28</span><br>JAN, 2022</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>A series of lectures to motivate you make life changes. It was a five days program</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">An Illuminating Program on Life Skill Fundamentals</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/2.jpg" alt="Event Image"
                  title="Study Abroad (Tips for higher education aspirants)">
                <div class="card-date"><span>7</span><br>DEC, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Organized on demand for the students who dream to study abroad.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Study Abroad<br>(Tips for higher education aspirants)</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/1.jpg" alt="Event Image"
                  title="Personal Branding (A journey from unknown to someone)">
                <div class="card-date"><span>17</span><br>NOV, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Organized with the aim to provide new goals of life.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Personal Branding<br>(A journey from unknown to someone)</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/Atal_Tunnel_Trip.jpg" alt="Event Image"
                  title="Education Trip To Atal Tunnel Trip">
                <div class="card-date"><span>14-17</span><br>NOV, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>To gain first hand knowledge and information about the latest techniques used in construction of
                    the tunnel.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Education Trip To Atal Tunnel Trip</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/Capture_The_Spark.jpg" alt="Event Image"
                  title="Capture The Spark">
                <div class="card-date"><span>5</span><br>NOV, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Using creativity students presented their video making and presenting skills to mark the festival
                    of lights “Diwali”</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Capture The Spark</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/Pycon_Youth_Conference.jpg" alt="Event Image"
                  title="Pycon Youth Conference">
                <div class="card-date"><span>21</span><br>OCT, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Encouraging students to actively know the Indian politics and be part of the reforms and visionary
                    development by parties.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Pycon Youth Conference</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/Recruitments_20_oct.jpg" alt="Event Image"
                  title="Recruitments">
                <div class="card-date"><span>20</span><br>OCT, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>CML held recruitments in both online and offline mode. And is glad to get such an overwhelming
                    response</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Recruitments</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/Peer_to_Peer_Learning_Workshop.jpg"
                  alt="Event Image" title="Peer to Peer Learning Workshop">
                <div class="card-date"><span>25</span><br>SEP, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Peer to Peer Learning Workshop was Organised by the students and for the students to upskill their
                    talents.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Peer to Peer Learning Workshop</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/graciousGivers.png" alt="Event Image"
                  title="Gracious Givers">
                <div class="card-date"><span>06</span><br>SEP, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>A book drive for the students by the students with the aim to learn and conquer the dreams.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Gracious Givers</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/researchHotspots.png" alt="Event Image"
                  title="Webinar on key aspects of research hotspots and gaps">
                <div class="card-date"><span>01</span><br>SEP, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>CML Webinar by Dr. Raman Sehgal on topic (Key Aspects of Research Hotspots and Gaps)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Webinar on key aspects of research hotspots and gaps</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/linkedInProfile.png" alt="Event Image"
                  title="Boost your LinkedIn Profile">
                <div class="card-date"><span>28</span><br>AUG, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>CML organized a session on Boost your LinkedIn Profile</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Boost your LinkedIn Profile</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/flagHosting.png" alt="Event Image"
                  title="Cleanliness Drive and Flag Hosting">
                <div class="card-date"><span>15</span><br>AUG, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>Flag Hoisting was done by our worthy Principal Dr. Sehijpal Singh. <br>CML organized Cleanliness
                    Drive on the occasion of Independence Day in the college campus.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Cleanliness Drive and Flag Hosting</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/inspirationalDrift.png" alt="Event Image"
                  title="Inspirational Drift">
                <div class="card-date"><span>11</span><br>AUG, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>A motivational eve combined with a fusion of fitness, supremacy of public speaking, and grails for
                    decision making</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Inspirational Drift</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/introductorySession.png" alt="Event Image"
                  title="Introductory Session on Understanding General Awareness">
                <div class="card-date"><span>30</span><br>JUL, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>A Webinar on General Awareness and to help students take one step for preparing for any competitive
                    exam</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Introductory Session on Understanding General Awareness</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/ResumeWriting.png" alt="Event Image"
                  title="Resume Writing">
                <div class="card-date"><span>02</span><br>JUL, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>A Webinar by Zaryab Mahmood and Ali Qaswar Khaleeq on Resume writing and Interview Skills</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Resume Writing</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/chooseToBeGreat.png" alt="Event Image"
                  title='WEBINAR- "CHOOSE TO BE GREAT- BE A MASSIVE ACTION TAKER"'>
                <div class="card-date"><span>27</span><br>MAY, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>An Interactive Session by Mr. Sudhir Dua on CHOOSE TO BE GREAT- BE A MASSIVE ACTION TAKER</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">WEBINAR- "CHOOSE TO BE GREAT- BE A MASSIVE ACTION TAKER"</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/seriesexpert.png" alt="Event Image"
                  title="Series of Expert Lectures By Mr. Sony Goyal and Mr. Sudhir Dua">
                <div class="card-date"><span>08</span><br>MAR, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content">
                  <p>A seminar by experts: Sony&nbsp;Goyal, Prof.&nbsp;Lakhveer&nbsp;Singh&nbsp;Khana,
                    Prof.&nbsp;Shivmanmeet&nbsp;Singh and Mr.&nbsp;Sudhir&nbsp;Dua</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Series of Expert Lectures By Mr. Sony Goyal and Mr. Sudhir Dua</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card card-cover">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img-top" src="../assets/images/events/capsule.png" alt="Event Image"
                  title='Capsule Programme on "Fundamental of Communication Skills in the English Language"'>
                <div class="card-date"><span>01</span><br>MAR, 2021</div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-content"> <!-- capacity is of 210 characters -->
                  <p>The program provided the opportunity to students to reorient and empower themselves in the light of
                    emerging employment opportunities at all levels</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">Capsule Programme on "Fundamental of Communication Skills in the English Language"</p>
          </div>
        </div>



      </div>
    </div>
  </section>

  <!-- <section class="section">
    <div class="container">
      <div class="row">
      {% for i in Event_data %}
        <div class="col-lg-4 col-sm-6 mb-5">
          <a href="/Event/{{ forloop.counter }}/Details">
            <div class="card card-cover">
              <div class="card-img position-relative">
                <img class="card-img-top" src="{{ baseURL }}/{{ i.1 }}" alt="Event Image">
                <div class="card-date"><span>{% if i.2|stringformat:'i'|length_is:1 %}0{% endif %}{{ i.2 }}</span><br>{{ i.3 }}, {{ i.4 }}</div>
              </div>
            </div>
            <div class="card-body">

              <p class="card-title"> {{ i.8 }}
              </p>
            </div>
          </a>
        </div>
      {% endfor %}

      </div>
    </div>
  </section> -->

  <!-- /courses -->
  <!-- Footer -->
  <div class="fetch-footer"></div>
  <!--Important link source from https://bootsnipp.com/snippets/ooa9M-->
  <!------ Include the above in your HEAD tag ---------->

  <footer id="dk-footer" class="dk-footer">
    <div class="f-container">
      <div class="row m-0">
        <div class="col-md-12 col-lg-4 p-0">
          <div class="dk-footer-box-info">
            <div class="footer-logo">
              <a href="../">
                <img src="../assets/images/cml_logo.png" alt="footer_logo" class="img-fluid-f">
              </a>
              <a href="https://gndec.ac.in">
                <img src="../assets/images/logogne.png" alt="footer_logo" class="img-fluid-f1">
              </a>
            </div>
            <p class="footer-info-text">
              Center For Multi-Faceted Learning,
              Guru Nanak Dev Engineering College, Ludhiana
            </p>
            <div class="footer-social-link">
              <h3>Follow us</h3>
              <ul>
                <li>
                  <a href="#" target="_blank">
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/CMLGNDEC" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCgfkZOFLDzOKBRLA-vRQBQA" target="_blank">
                    <i class="fa fa-youtube-play"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/cmlgndec" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/cmlgndec/" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Social link -->
          </div>
          <!-- End Footer info -->
          <div class="footer-awarad">
            <p></p>
          </div>
        </div>
        <!-- End Col -->
        <br>
        <br>
        <div class="col-md-12 col-lg-8 align-self-center">
          <div class="row">
            <div class="col-md-6">
              <div class="contact-us">
                <div class="contact-icon">
                  <a target="_blank" href="https://goo.gl/maps/AEWTXb7T1Xc5GDYH8">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                  </a>
                </div>
                <!-- End contact Icon -->
                <div class="contact-info">
                  <a target="_blank" href="https://goo.gl/maps/AEWTXb7T1Xc5GDYH8">
                    <h3>CML</h3>
                    <p>GNDEC</p>
                  </a>
                </div>
                <!-- End Contact Info -->
              </div>
              <!-- End Contact Us -->
            </div>
            <!-- End Col -->

            <div class="col-md-6">
              <div class="contact-us contact-us-last">
                <div class="contact-icon">
                  <a target="_blank" href="tel:01615064813">
                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                  </a>
                </div>
                <!-- End contact Icon -->
                <div class="contact-info">
                  <a target="_blank" href="tel:01615064813">
                    <h3>0161-5064813</h3>
                    <p>Give us a call</p>
                  </a>
                </div>
                <!-- End Contact Info -->
              </div>
              <!-- End Contact Us -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Contact Row -->
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="footer-widget footer-left-widget">
                <div class="section-heading">
                  <h3>Useful Links</h3>
                  <span class="animate-border border-black"></span>
                </div>
                <ul>
                  <li>
                    <a href="../">Home</a>
                  </li>
                  <!-- <li>
                                      <a href="../About/">About</a>
                                  </li> -->
                  <li>
                    <a href="./">Events</a>
                  </li>
                  <li>
                    <a href="../Contact/">Contact</a>
                  </li>
                </ul>
                <ul>
                  <li>
                    <a href="../About/Faculty/">Faculty</a>
                  </li>
                  <li>
                    <a href="../About/Members/">Members</a>
                  </li>
                  <li>
                    <a href="../About/Developers/">Web Developers</a>
                  </li>
                  <!-- <li>
                                      <a href="#">FAQ</a>
                                  </li> -->
                </ul>
              </div>
              <!-- End Footer Widget -->
            </div>
            <!-- End col -->
            <div class="col-md-12 col-lg-6 footer-subscribe">
              <div class="footer-widget">
                <div class="section-heading">
                  <h3>Subscribe</h3>
                  <span class="animate-border border-black"></span>
                </div>
                <p>Subscribe us to get further updates</p>
                <form action="https://formspree.io/f/mvollevw" method="POST" id="subscribe_form">
                  <div class="form-row">
                    <div class="col dk-footer-form">
                      <input type="email" name="email" class="form-control f-subscribe" placeholder="Email Address"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                      <button type="submit">
                        <i class="fa fa-send"></i>
                      </button>
                    </div>
                  </div>
                </form>
                <!-- End form -->
              </div>
              <!-- End footer widget -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Widget Row -->
    </div>
    <!-- End Contact Container -->


    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <span>Copyright <span id="date"></span>
              <script>
                var CurrentYear = new Date().getFullYear();
                document.getElementById('date').innerText = CurrentYear;
              </script>
              © CML GNDEC
            </span>
          </div>
          <!-- End col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Copyright Container -->
    </div>
    <!-- End Copyright -->
  </footer>

  <!-- /Footer -->


  <!-- Back to top -->
  <div id="back-to-top" class="back-to-top">
    <button class="btn btn-dark" title="Back to Top" id="js-top">
      <i class="fa fa-angle-up"></i>
    </button>
  </div>
  <!-- End Back to top -->

  <!-- jQuery -->
  <script src="../assets/plugins/jQuery/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="../assets/plugins/bootstrap/bootstrap.min.js"></script>

  <!-- Main Script -->
  <script src="../assets/js/script.js"></script>
  <script src="../assets/js/jQuery.js"></script>


</body>

</html>